footer {
  background-color: #0e0e1a;

}

.footer {
  display: flex;
  padding: 23px 122px;
  justify-content: space-evenly;
  color: white;
}

.footer ul {
  list-style-type: disc ;
  list-style-position: inside;

}
.footer ul li {
  margin-left:20px  ;

}
/* .footer>div {
  width: 223px;
} */

footer .footer-rights {
  text-align: center;
  color: gray;
  padding: 12px 0;
}

li:hover{
text-decoration: solid;
font-weight: bold;
text-decoration: underline;
}

.card:hover{
border: 2px solid black;
}